# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Android related
/android/.gradle/
/android/app/build/

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework

# macOS
macos/Flutter/ephemeral/

# Logs
*.log

# IDE
.idea/
.vscode/

# Misc
*.lock